.wrapper{
    width: 100%;
    background-image: url("src/assets/main-bgg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0;
    color: white;
}

.info{
    padding: 30px;
}
.info h3{
    margin: 10px;
    font-size: 15px;
}


.info span{
    color: var(--accent-bright-blue);

}

.best, .newest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    height: 400px;
}
.best>div:nth-child(2){
    align-self: start;
}

.best>div:nth-child(3){
    align-self: end;
}

.wrapper h2{
    text-shadow: 2px 2px 7px rgba(0,0,0,0.93);
    font-size: 40px;
    text-align: center;
    padding: 15px;
    animation: text-shadow 1.5s ease-in-out infinite;

}

.dark{
    text-shadow: 0px 0px 18px rgba(0,0,0,1);

}
.newest{
    margin: 0;
    height: fit-content;
}


@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
                0 0 0 #0c2ffb,
                0 0 0 #2cfcfd,
                0 0 0 #fb203b,
                0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
                0 0.125em 0 #0c2ffb,
                0 0.25em 0 #2cfcfd,
                0 -0.125em 0 #fb203b,
                0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
                0 -0.0625em 0 #0c2ffb,
                0 -0.125em 0 #2cfcfd,
                0 0.0625em 0 #fb203b,
                0 0.125em 0 #fefc4b;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow:
                0 0.03125em 0 #0c2ffb,
                0 0.0625em 0 #2cfcfd,
                0 -0.03125em 0 #fb203b,
                0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
                0 0 0 #0c2ffb,
                0 0 0 #2cfcfd,
                0 0 0 #fb203b,
                0 0 0 #fefc4b;
    }
}