.container{
    width: 100%;
}


.container footer{
    background-color: var(--footer);
    width: 100%;
    color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    text-align: center;
}

.container header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.container nav{
    width: 100%;
}

.container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.container li{
    list-style-type: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px 3px;
}

.container a {
    color: white;
    text-shadow: 0px 0px 11px rgba(8, 49, 48, 1);
}