.wrapper{
    width: 100%;
    height: max-content;
}
.bg, .bg1, .bg2 {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--primary-bg1) 50%, var(--primary-bg2) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.bg1 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg2 {
    animation-duration:5s;
}

.content {
    margin: 80px 20px;
}


@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}


.header{
    margin: 50px 20px 20px 20px;
    height: 50px;
}
.content h1 {
    color: white ;
    position: absolute;
    letter-spacing: 2px;
    font-weight: 100;
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.content h1:nth-child(2) {
    color: var(--primary-bg1);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}